Repository dariosky/lykd: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, backend-tests, frontend-tests

prettier:
  name: prettier
  entry: bash -c 'cd frontend && npm run format:staged'
  language: system
  pass_filenames: false

backend-tests:
  name: backend tests
  entry: bash -c 'cd backend && python -m pytest'
  language: system
  pass_filenames: false

frontend-tests:
  name: frontend tests
  entry: bash -c 'cd frontend && npm test -- --run'
  language: system
  pass_filenames: false

Generic uv.lock 🤫
  .gitignore
  README.md
  backend/.gitignore
  uv.lock
Due: backend-tests

Sanitizing locks via precommit
  .gitignore
  .pre-commit-config.yaml
  pyproject.toml
  scripts/sanitize_locks.py
Due: none

Some cleanup for handling likes that aren't tracks
  .idea/data_source_mapping.xml
  backend/services/likes.py
  backend/services/spotify.py
  backend/services/store.py
Due: backend-tests

One function to access Spotify APIs so we can have a call count
  backend/scripts/fetch_data.py
  backend/services/spotify.py
  backend/tests/unit/test_spotify_service.py
Due: backend-tests

Clean up - getting rid of some maintenance code
  backend/services/spotify.py
  backend/services/spotify_retry.py
  backend/services/store.py
  frontend/src/RecentActivity.tsx
Due: prettier, backend-tests, frontend-tests

Fixed issue on Spotify.request error
  backend/services/spotify.py
  backend/tests/integration/test_spotify_playback.py
Due: backend-tests

Optional API_PREFIX
  backend/app.py
  backend/settings.py
  backend/tests/conftest.py
Due: backend-tests

Use an AuthContext
  frontend/src/AuthContext.tsx
  frontend/src/FriendshipUI.test.tsx
  frontend/src/Layout.tsx
  frontend/src/MiniPlayer.tsx
  frontend/src/main.tsx
Due: prettier, frontend-tests

Cleanup of the frontend
  frontend/src/App.test.tsx
  frontend/src/App.tsx
  frontend/src/Homepage.tsx
  frontend/src/MiniPlayer.tsx
Due: prettier, frontend-tests

Slack notification for the full history
  backend/routes/spotify_route.py
Due: backend-tests

Some love to mobile UI
  frontend/index.html
  frontend/src/Layout.css
  frontend/src/Layout.tsx
Due: prettier, frontend-tests

Cleaning Spotify class more
  backend/services/spotify.py
  backend/utils/logs.py
Due: backend-tests

Updating Vite dependency for security 🔒
  frontend/package-lock.json
  frontend/package.json
Due: prettier, frontend-tests

Moving UserDropdown on its own
  frontend/src/Layout.tsx
  frontend/src/UserDropdown.tsx
Due: prettier, frontend-tests

Unfurl material
  frontend/index.html
Due: prettier, frontend-tests

Limit the public dashboard top artist/tracks to friends
  backend/routes/public_route.py
  frontend/src/PublicProfilePage.tsx
  frontend/src/api.ts
Due: prettier, backend-tests, frontend-tests

Fix the unfurled image
  frontend/index.html
Due: prettier, frontend-tests

Fix the test for friendship
  frontend/src/FriendshipUI.test.tsx
Due: prettier, frontend-tests

For monitoring make it so / answers to HEAD requests
  backend/routes/auth_route.py
Due: backend-tests

Fixing tests and serving HEAD /
  backend/routes/public_route.py
  backend/services/cache.py
  backend/tests/conftest.py
  backend/tests/integration/test_ignore_route.py
  backend/tests/integration/test_public_route_integration.py
  backend/tests/unit/test_app.py
  backend/tests/unit/test_public_route.py
  backend/tests/unit/test_public_route_query_plans.py
  frontend/index.html
Due: prettier, backend-tests, frontend-tests

Set proc title
  backend/app.py
  pyproject.toml
  uv.lock
Due: backend-tests

Deployments: Adding runserver
  backend/run_server.py
  backend/services/spotify.py
Due: backend-tests

Deployments: title in the runners
  backend/app.py
  backend/run_dev.py
  backend/run_server.py
Due: backend-tests

Some ❤️ to mobile
  frontend/src/App.css
  frontend/src/IgnoredPage.tsx
  frontend/src/Layout.css
  frontend/src/LikesPage.tsx
  frontend/src/PublicProfilePage.tsx
  frontend/src/RecentPlaysPage.tsx
  frontend/src/SettingsPage.css
  frontend/src/SettingsPage.tsx
  frontend/src/UserDropdown.tsx
  frontend/src/common.css
Due: prettier, frontend-tests

Getting to a friendship page
  backend/app.py
  backend/routes/friendship_route.py
  backend/routes/public_route.py
  backend/routes/recent_route.py
  frontend/src/Dashboard.tsx
  frontend/src/IgnoredPage.tsx
  frontend/src/Layout.tsx
  frontend/src/RecentActivity.tsx
  frontend/src/RecentFriendsWidget.tsx
  frontend/src/RecentMyWidget.tsx
  frontend/src/UserDropdown.tsx
  frontend/src/api.ts
Due: prettier, backend-tests, frontend-tests

Demo mode for the frontend
  README.md
  frontend/public/screenshots/dashboard.png
  frontend/public/screenshots/homepage.png
  frontend/public/screenshots/stats.png
  frontend/src/Recent.css
  frontend/src/main.tsx
  frontend/src/vite-env.d.ts
Due: prettier, frontend-tests

Friends with one query
  README.md
  backend/routes/friendship_route.py
  frontend/src/RecentFriendsWidget.tsx
  frontend/src/api.ts
Due: prettier, backend-tests, frontend-tests

.htaccess for SPA
  frontend/public/.htaccess
Due: frontend-tests

Adding a 404 and some change to friends
  README.md
  backend/routes/friendship_route.py
  frontend/src/Layout.tsx
  frontend/src/NotFoundPage.tsx
  frontend/src/api.ts
  frontend/src/main.tsx
Due: prettier, backend-tests, frontend-tests

Fixed query for /friends with status
  backend/routes/friendship_route.py
Due: backend-tests

Friends page
  frontend/src/FriendsPage.tsx
  frontend/src/Recent.css
  frontend/src/RecentFriendsWidget.tsx
  frontend/src/UserDropdown.tsx
  frontend/src/main.tsx
Due: prettier, frontend-tests

Tuning the FriendsPage.tsx
  backend/routes/friendship_route.py
  frontend/src/ErrorBoundary.tsx
  frontend/src/FriendsPage.tsx
  frontend/src/Layout.tsx
  frontend/src/Recent.css
  frontend/src/RecentActivity.tsx
  frontend/src/RecentMyWidget.tsx
  frontend/src/api.ts
  frontend/src/common.css
Due: prettier, backend-tests, frontend-tests

Fix the date of the play in the friends page
  backend/routes/friendship_route.py
Due: backend-tests

Fix for process.env in vite (aka import.meta.env
  frontend/src/ErrorBoundary.tsx
Due: prettier, frontend-tests

Adding the like button to the miniplayer
  backend/routes/spotify_streaming.py
  frontend/src/MiniPlayer.tsx
  frontend/src/Recent.css
  frontend/src/api.ts
Due: prettier, backend-tests, frontend-tests

Device selector
  backend/routes/spotify_streaming.py
  backend/services/spotify.py
  frontend/src/MiniPlayer.css
  frontend/src/MiniPlayer.tsx
  frontend/src/RecentActivity.tsx
  frontend/src/api.ts
Due: prettier, backend-tests, frontend-tests

Generate uid from track to deduplicate likes&ignores [WIP]
  backend/migrations/versions/2025_09_04_a703d0e6ec71_migrate_to_uid_likes_and_ignore.py
  backend/models/ignored.py
  backend/models/music.py
  backend/scripts/migrate_from_spotlike.py
  backend/services/store.py
  backend/tests/integration/test_ignore_route.py
  backend/tests/integration/test_public_route_integration.py
Due: backend-tests

Fix for playlist_create call
  .pre-commit-config.yaml
  backend/services/likes.py
Due: backend-tests

Linting ✅
  frontend/.eslintrc.cjs
  frontend/src/ErrorBoundary.tsx
  frontend/src/LikesPage.tsx
  frontend/src/MiniPlayer.tsx
  frontend/src/PublicProfilePage.test.tsx
  frontend/src/PublicProfilePage.tsx
  frontend/src/RecentPlaysPage.tsx
  frontend/src/api.ts
  frontend/src/playbackBus.ts
  frontend/src/spotifyWeb.ts
Due: prettier, frontend-tests

Path conditions:
  prettier: any of: ^frontend/.*\.(js|jsx|ts|tsx|json|css|html)$
  backend-tests: any of: ^backend/
  frontend-tests: any of: ^frontend/
