Repository dariosky/lykd: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, backend-tests, frontend-tests

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.7
    hooks:
      - id: ruff
        name: ruff lint
        files: ^backend/
        args: [--fix]
      - id: ruff-format
        name: ruff format
        files: ^backend/

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: bash -c 'cd frontend && npm run format:staged'
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx|json|css|html)$
        pass_filenames: false
      - id: backend-tests
        name: backend tests
        entry: bash -c 'cd backend && python -m pytest'
        language: system
        files: ^backend/
        pass_filenames: false
      - id: frontend-tests
        name: frontend tests
        entry: bash -c 'cd frontend && npm test -- --run'
        language: system
        files: ^frontend/
        pass_filenames: false
  - repo: https://github.com/PyCQA/bandit
    rev: '1.8.6'
    hooks:
      - id: bandit
        args: [ "-c", "pyproject.toml", "-r", "backend" ]
        additional_dependencies: [ "bandit[toml]" ]

Migrate script for usernames
  backend/scripts/migrate_data.py
  frontend/src/Layout.css
  frontend/src/Layout.tsx
  frontend/src/SettingsPage.tsx
Due: prettier, backend-tests, frontend-tests

Migrate script for usernames - centralized
  backend/migrations/versions/2025_08_14_e4635b15000d_adding_user_username.py
  backend/models/auth.py
  backend/routes/deps.py
  backend/routes/spotify_route.py
  backend/scripts/migrate_data.py
Due: backend-tests

Some more stat to the Spotify Service page
  .gitignore
  backend/routes/spotify_route.py
  frontend/src/Layout.tsx
  frontend/src/ServicesPage.tsx
  frontend/src/SettingsPage.css
  frontend/src/SettingsPage.tsx
  frontend/src/api.ts
Due: prettier, backend-tests, frontend-tests

Import full history service
  .gitignore
  README.md
  backend/app.py
  backend/routes/spotify_route.py
  backend/services/spotify.py
  backend/services/spotify_history.py
  backend/services/store.py
  backend/utils/dates.py
  frontend/src/SettingsPage.css
  frontend/src/SettingsPage.tsx
  frontend/src/SpotifyImport.css
  frontend/src/SpotifyImportPage.tsx
  frontend/src/api.ts
  frontend/src/main.tsx
  pyproject.toml
Due: prettier, backend-tests, frontend-tests

Full likes sync with target playlist and rules to do quick scans
  backend/migrations/versions/2025_08_16_dc4e98e5718a_adding_last_scan_times.py
  backend/models/auth.py
  backend/models/types.py
  backend/scripts/fetch_liked_songs.py
  backend/scripts/migrate_data.py
  backend/services/likes.py
  backend/services/spotify.py
  backend/services/store.py
  backend/settings.py
  backend/tests/conftest.py
Due: backend-tests

Forbid full-sync to often and restyling
  backend/routes/spotify_route.py
  frontend/src/App.css
  frontend/src/Layout.css
  frontend/src/PublicProfile.css
  frontend/src/PublicProfilePage.tsx
  frontend/src/SettingsPage.css
  frontend/src/SettingsPage.tsx
  frontend/src/SpotifyImport.css
  frontend/src/SpotifyImportPage.tsx
  frontend/src/api.ts
  frontend/src/common.css
  frontend/src/index.css
  frontend/src/main.tsx
Due: prettier, backend-tests, frontend-tests

Removing the try-finally as it is breaking the Pycharm parser 😶
  backend/routes/spotify_route.py
Due: backend-tests

Add friendship model and related functionality
  backend/alembic.ini
  backend/migrations/env.py
  backend/migrations/versions/2025_08_17_0c9d57cb5fbe_friendship.py
  backend/models/__init__.py
  backend/models/friendship.py
  backend/routes/auth_route.py
  backend/services/friendship.py
  frontend/src/ErrorPage.tsx
Due: prettier, backend-tests, frontend-tests

Friendship flow
  backend/app.py
  backend/routes/friendship.py
  backend/services/friendship.py
  backend/tests/integration/test_friendship_routes.py
  backend/tests/unit/test_friendship_service.py
  frontend/src/FriendshipUI.test.tsx
  frontend/src/Layout.css
  frontend/src/Layout.tsx
  frontend/src/PublicProfilePage.tsx
  frontend/src/api.ts
Due: prettier, backend-tests, frontend-tests

Recent widgets and page
  .idea/prettier.xml
  backend/app.py
  backend/routes/recent_route.py
  backend/tests/integration/test_recent_route.py
  frontend/src/Dashboard.tsx
  frontend/src/Recent.css
  frontend/src/RecentActivity.tsx
  frontend/src/RecentPlaysPage.tsx
  frontend/src/api.ts
  frontend/src/main.tsx
Due: prettier, backend-tests, frontend-tests

Recent search
  backend/migrations/versions/2025_08_18_3fff3f6745bc_adding_indexes.py
  backend/models/music.py
  backend/routes/recent_route.py
  backend/tests/integration/test_recent_route.py
  frontend/src/Recent.css
  frontend/src/RecentActivity.tsx
  frontend/src/RecentPlaysPage.tsx
  frontend/src/api.ts
Due: prettier, backend-tests, frontend-tests

Recent search refinements
  frontend/src/Recent.css
  frontend/src/RecentPlaysPage.tsx
Due: prettier, frontend-tests

Update for migrate_data.py to merge changes
  README.md
  backend/scripts/migrate_data.py
  frontend/src/Dashboard.tsx
Due: prettier, backend-tests, frontend-tests

Ignored API and refactor 401 checks
  backend/app.py
  backend/migrations/versions/2025_08_19_ad2786ea98a0_user_ignored_tables.py
  backend/models/music.py
  backend/routes/auth_route.py
  backend/routes/deps.py
  backend/routes/friendship.py
  backend/routes/ignore_route.py
  backend/routes/public_route.py
  backend/routes/recent_route.py
  backend/routes/spotify_route.py
  backend/tests/conftest.py
  backend/tests/integration/test_ignore_route.py
  backend/tests/integration/test_recent_route.py
  backend/tests/unit/test_app.py
  backend/tests/unit/test_spotify_service.py
  frontend/src/api.ts
Due: prettier, backend-tests, frontend-tests

/recent optionally excluding ignored
  backend/routes/recent_route.py
Due: backend-tests

Ignore-UI working - still to be refined
  backend/routes/public_route.py
  backend/tests/integration/test_public_route_integration.py
  backend/tests/unit/test_public_route.py
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/FriendshipUI.test.tsx
  frontend/src/IgnoreButtons.css
  frontend/src/IgnoreButtons.tsx
  frontend/src/IgnoredPage.css
  frontend/src/IgnoredPage.tsx
  frontend/src/Layout.tsx
  frontend/src/PublicProfile.css
  frontend/src/PublicProfilePage.tsx
  frontend/src/Recent.css
  frontend/src/RecentActivity.tsx
  frontend/src/RecentPlaysPage.tsx
  frontend/src/main.tsx
Due: prettier, backend-tests, frontend-tests

Optimizing and testing public_stats
  backend/migrations/versions/2025_08_19_b1a2c3d4e5f6_add_idx_plays_user_track.py
  backend/models/music.py
  backend/routes/public_route.py
  backend/tests/unit/test_public_route_query_plans.py
Due: backend-tests

Global ignored backend
  backend/migrations/script.py.mako
  backend/migrations/versions/2025_08_19_ffad0adbd29a_global_ignored.py
  backend/models/auth.py
  backend/models/music.py
  backend/routes/friendship.py
  backend/routes/ignore_route.py
  backend/routes/public_route.py
  backend/routes/recent_route.py
  backend/services/slack.py
  backend/services/spotify.py
  frontend/src/ErrorPage.tsx
Due: prettier, backend-tests, frontend-tests

Initial UI for global ignore
  backend/migrations/versions/2025_08_19_ffad0adbd29a_global_ignored.py
  backend/models/music.py
  backend/routes/ignore_route.py
  frontend/src/IgnoreButtons.tsx
  frontend/src/IgnoredPage.tsx
  frontend/src/Layout.tsx
  frontend/src/api.ts
Due: prettier, backend-tests, frontend-tests

Make the public stats depending on viewer
  backend/routes/public_route.py
Due: backend-tests

Cleaned up UI and ignore functions
  backend/models/music.py
  backend/routes/ignore_route.py
  backend/tests/integration/test_ignore_route.py
  frontend/src/IgnoreButtons.tsx
  frontend/src/IgnoredPage.css
  frontend/src/IgnoredPage.tsx
  frontend/src/Layout.tsx
  frontend/src/PublicProfilePage.tsx
  frontend/src/api.ts
Due: prettier, backend-tests, frontend-tests

Concurrency limit when fetching data
  backend/scripts/fetch_data.py
  backend/scripts/fetch_liked_songs.py
Due: backend-tests

Show datetimes as local
  backend/services/likes.py
  frontend/src/PublicProfilePage.tsx
  frontend/src/RecentActivity.tsx
  frontend/src/SettingsPage.tsx
  frontend/src/SpotifyImportPage.tsx
  frontend/src/date.ts
Due: prettier, backend-tests, frontend-tests

Spotify authentication hardened with oauth nonce persistence
  README.md
  backend/migrations/versions/2025_08_20_d31adb07ac16_add_oauth_states.py
  backend/models/auth.py
  backend/routes/spotify_route.py
  backend/services/spotify.py
  backend/tests/integration/test_integration.py
  backend/tests/unit/test_app.py
Due: backend-tests

Hide the ignore track action from the widgets
  frontend/src/IgnoredPage.tsx
  frontend/src/RecentActivity.tsx
Due: prettier, frontend-tests

Added the quick-sync mode for likes
  backend/models/music.py
  backend/services/likes.py
Due: backend-tests

Cleaning up the recent_route
  backend/routes/recent_route.py
Due: backend-tests

Reusable recent_route
  README.md
  backend/routes/deps.py
  backend/routes/friendship.py
  backend/routes/recent_route.py
  backend/tests/integration/test_recent_route.py
  frontend/src/RecentActivity.tsx
  frontend/src/RecentPlaysPage.tsx
  frontend/src/api.ts
Due: prettier, backend-tests, frontend-tests

Style and linking user recent from tracks
  frontend/src/Dashboard.css
  frontend/src/Dashboard.tsx
  frontend/src/Recent.css
  frontend/src/RecentActivity.tsx
  frontend/src/SettingsPage.css
  frontend/src/SpotifyImport.css
  frontend/src/index.css
Due: prettier, frontend-tests

Likes page
  backend/routes/recent_route.py
  frontend/package.json
  frontend/src/Dashboard.tsx
  frontend/src/Layout.css
  frontend/src/Layout.tsx
  frontend/src/LikesPage.tsx
  frontend/src/Recent.css
  frontend/src/RecentActivity.tsx
  frontend/src/api.ts
  frontend/src/index.css
  frontend/src/main.tsx
  pyproject.toml
Due: prettier, backend-tests, frontend-tests

Get if the user is subscribed (AKA premium) to be able to use the SDK player
  backend/migrations/versions/2025_08_21_58bec5fc7a82_storing_user_subscribed.py
  backend/models/auth.py
  backend/routes/spotify_route.py
  backend/services/spotify.py
Due: backend-tests

Miniplayer 🎉🎶
  README.md
  backend/app.py
  backend/routes/auth_route.py
  backend/routes/public_route.py
  backend/routes/recent_route.py
  backend/routes/spotify_route.py
  backend/services/likes.py
  backend/services/spotify.py
  backend/services/spotify_history.py
  backend/services/spotify_retry.py
  backend/tests/conftest.py
  backend/tests/unit/test_http_exception_handling.py
  backend/tests/unit/test_spotify_service.py
  frontend/src/App.tsx
  frontend/src/Dashboard.css
  frontend/src/Dashboard.tsx
  frontend/src/ErrorPage.css
  frontend/src/ErrorPage.tsx
  frontend/src/Footer.tsx
  frontend/src/FriendshipUI.test.tsx
  frontend/src/IgnoredPage.tsx
  frontend/src/Layout.css
  frontend/src/Layout.tsx
  frontend/src/LikesPage.tsx
  frontend/src/MiniPlayer.css
  frontend/src/MiniPlayer.tsx
  frontend/src/PublicProfilePage.tsx
  frontend/src/Recent.css
  frontend/src/RecentActivity.tsx
  frontend/src/RecentPlaysPage.tsx
  frontend/src/SettingsPage.tsx
  frontend/src/SpotifyImportPage.tsx
  frontend/src/api.ts
  frontend/src/index.css
  frontend/src/main.tsx
  frontend/src/playbackBus.ts
  frontend/src/spotifyWeb.ts
Due: prettier, backend-tests, frontend-tests

Miniplayer tweaks to start playing the selected song from the beginning
  frontend/src/RecentActivity.tsx
Due: prettier, frontend-tests

Use playlist.snapshot_it to detect if a playlist hasn't changed
  backend/migrations/versions/2025_08_22_bae845b7158a_adding_playlist_snapshot.py
  backend/models/music.py
  backend/services/likes.py
  backend/services/spotify.py
  backend/services/store.py
  backend/settings.py
  backend/tests/conftest.py
  backend/tests/integration/test_integration.py
Due: backend-tests

Adding visible likes - unified cache - like button
  README.md
  backend/routes/public_route.py
  backend/routes/recent_route.py
  backend/services/cache.py
  backend/services/spotify.py
  backend/tests/integration/test_public_route_integration.py
  backend/tests/unit/test_public_route.py
  frontend/src/PublicProfile.css
  frontend/src/PublicProfilePage.tsx
  frontend/src/Recent.css
  frontend/src/RecentActivity.tsx
  frontend/src/api.ts
  frontend/src/common.css
  pyproject.toml
Due: prettier, backend-tests, frontend-tests

Supporting Spotlike old client, migrating sync playlist and deal with likes with duplicates
  README.md
  backend/migrations/versions/2025_08_23_4ec607b432b8_supporting_different_apps.py
  backend/models/auth.py
  backend/routes/spotify_route.py
  backend/scripts/fetch_data.py
  backend/services/likes.py
  backend/services/spotify.py
  backend/services/spotify_retry.py
  backend/services/store.py
Due: backend-tests

Some cleanup to logs and robustness for invalid data
  backend/services/likes.py
  backend/services/spotify.py
  backend/services/spotify_retry.py
  backend/services/store.py
Due: backend-tests

Update dependencies, improve logging, and enhance session management
  .pre-commit-config.yaml
  README.md
  backend/models/common.py
  backend/services/spotify_retry.py
  backend/utils/logs.py
  frontend/src/MiniPlayer.tsx
  pyproject.toml
Due: prettier, backend-tests, frontend-tests

Send email for friendship request and acceptance
  README.md
  backend/services/email.py
  backend/services/friendship.py
  backend/settings.py
Due: backend-tests

Moving streaming endpoints in their Router
  backend/app.py
  backend/routes/spotify_route.py
  backend/routes/spotify_streaming.py
Due: backend-tests
